@page "/updating-chart"
@using TradingView.Blazor.Demo.Data
@using TradingView.Blazor.Models
@inject ChartService chartService

<h1>TradingView.Blazor Updating Chart</h1>

<TradingViewChart @ref=myChart />
<button class="btn btn-primary mt-2" @onclick="(async () => await AddMinuteAndUpdateAsync())">Add And Refresh Chart</button>


@code {
	// Define and load the chart
	TradingViewChart? myChart;

	List<Ohlcv> FullCandleData = null;
	List<Marker> FullMarkerData = null;
	DateTime NextMinuteToShow = DateTime.MinValue;
	ChartData data;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		// Only on first render
		if (!firstRender)
			return;

		// Set initial data
		(var initialOhlcv, var initialMarkers) = GetNextData(60);
		data = new()
		{
			CandleData = initialOhlcv,
			MarkerData = initialMarkers,
		};

		// Optionally define options
		ChartOptions options = new()
		{
			TimeScaleSecondsVisible = false,

			// Setting width to a negative value makes the chart responsive
			Width = -75,
		};

		// Load the chart
		if (myChart != null)
			await myChart.LoadChartAsync(data, options);
	}

	private async Task AddMinuteAndUpdateAsync()
	{
		// Append the new data to our ChartData
		(var priceDataToAppend, var markerDataToAppend) = GetNextData();
		data.CandleData.AddRange(priceDataToAppend);
		data.MarkerData.AddRange(markerDataToAppend);

		// Refresh Chart
		await myChart.UpdateChartAsync(data);
	}

	// Get the next chunk of X minutes from the sample data 
	private (List<Ohlcv>, List<Marker>) GetNextData(int minutes = 1)
	{
		// Load the sample data
		if (FullCandleData == null || FullMarkerData == null)
		{
			FullCandleData = chartService.GetSampleData();
			FullMarkerData = chartService.GetSampleMarkers();
		}

		// Ensure that we have a valid NextMinuteToShow
		if (NextMinuteToShow == DateTime.MinValue)
			NextMinuteToShow = FullCandleData.First().Time;

		// Select the data we need
		List<Ohlcv> outputPriceData = FullCandleData
			.Where(x => x.Time >= NextMinuteToShow)
			.Where(x => x.Time < NextMinuteToShow.AddMinutes(minutes))
			.ToList();
		List<Marker> outputMarkerData = FullMarkerData
			.Where(x => x.Time >= NextMinuteToShow)
			.Where(x => x.Time < NextMinuteToShow.AddMinutes(minutes))
			.ToList();

		// Update the next data to show value
		NextMinuteToShow = NextMinuteToShow.AddMinutes(minutes + 1);

		// return result
		return (outputPriceData, outputMarkerData);		
	}
}