@using TradingView.Blazor.Models
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div class="tradingviewChart">
    This Blazor component is defined in the <strong>TradingView.Blazor</strong> package.
</div>
@code {
    public string ElementId { get; set; } = "tvChart-" + Guid.NewGuid();

    /// <summary>
    /// Load a chart
    /// </summary>
    /// <param name="data">ChartData</param>
    /// <param name="options">optional styling options</param>
    /// <returns></returns>
    public async Task LoadChartAsync(ChartData data, ChartOptions options)
    {
        // Use default options when none are provided
        if (options == null)
            options = new ChartOptions();
        
        ChartHelperInterop interop = new ChartHelperInterop(JSRuntime);
        await interop.LoadChart(ElementId, data, options);
    }
}